{% extends 'base.html.twig' %}

{% block title %}Hello WineController!{% endblock %}

{% block body %}
<main id="wines">
    <h1>All of our Bottles</h1>
            <div class="filter-form">
            {# {{ form_start(form) }}
                    {{ form_row(form.Name) }}
                    {{ form_row(form.year) }}
                    {{ form_row(form.regions) }}
                    {{ form_row(form.countries) }}
                    {{ form_row(form.grape) }}
                <button class="btn btn-primary" type="submit">Filtrer</button>
            {{ form_end(form) }} #}
            <div class="wine-filter">
                <label for="wine-search">Search wines:</label>
                <input type="text" id="wine-search" placeholder="Type a specific grape, name, region, etc...">
                <ul id="search-results" class="search-results"></ul>
            </div>
        </div>

    <section id="liste">
        <div class="cards">
        {% for wine in wines %}
            <div class="card">
                
                <h2>{{ wine.name }}</h2>
                <p>{{ wine.year }}</p>
                <p>{{ wine.grapes }}</p>
                <p>{{ wine.regions.name }}</p>
                <p>{{ wine.countries.name }}</p>
                
                <!-- Description courte -->
                <p id="bouteille-description-{{ wine.id }}">
                    {{ wine.description|slice(0, 100) }}... 
                    <button onclick="toggleDescription({{ wine.id }})">Expand</button>
                </p>

                <!-- Description complète -->
                <p id="bouteille-description-full-{{ wine.id }}" style="display:none;">
                    {{ wine.description }}
                    <button onclick="toggleDescription({{ wine.id }})">Reduce</button>
                </p>
                <div class="actions">
                </div>         
            </div>
            
        {% endfor %}
        </div>
    </section>
</main>
{% endblock %}
