{% extends 'base.html.twig' %}

{% block title %}Hello WineController!{% endblock %}

{% block body %}
<main id="wines">
    <h1>All of our Bottles</h1>
            <div class="filter-form">
                <div class="wine-filter">
                    <label for="wine-search">Search wines:</label>
                    <input type="text" id="wine-search" placeholder="Type a specific grape, name, region, etc...">
                    <ul id="search-results" class="search-results"></ul>
                </div>
            </div>

    <section id="liste">
        <div class="cards">
        {% for wine in wines %}
            <div class="card" data-id="{{ wine.id }}">
                
                <h2 class="view-name">{{ wine.name }}</h2>
                <div class="image-content">
                    <div class="wineImage">
                        <img src="{{ asset('uploads/images/' ~ wine.imageName) }}" alt="imageVin">
                    </div>
                    <div class="content">
                        <p class="view-year">{{ wine.year }}</p>
                        <p class="view-grapes">{{ wine.grapes }}</p>
                        <p class="view-region">{{ wine.regions.name }}</p>
                        <p class="view-country">{{ wine.countries.name }}</p>
                    </div>
                </div>
                
                
                <p class="view-description" id="bouteille-description-full-{{ wine.id }}">
                    {{ wine.description }}
                </p>
                <p class="average-rating">
                    Average rating: {{ wine.getAverageRating() is not null ? (wine.getAverageRating()|number_format(1)) : 'No rating yet' }}
                </p>
                {% if app.user %}
                <form action="{{ path('rate', {id: wine.id}) }}" method="POST" class="rating-form">
                    <select name="rating">
                        {% for i in 1..5 %}
                            <option value="{{ i }}" {% if wine.getUserRating(app.user) == i %}selected{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn">Rate</button>
                </form>
                {% endif %}
                <div class="actions">
                {# if (not in myCave) #}
                    <form action="{{ path('add', { id: wine.id }) }}" method="POST" style="display:inline">
                        <input type="hidden" name="_token" value="{{csrf_token('add-wine' ~ wine.id) }}"
                        >
                        <button type="submit" class="btn">Add to cellar</button>
                    </form>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('edit', { id: wine.id }) }}" class="btn modifier">Edit</a>
                    <form action="{{ path('delete', { id: wine.id }) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this wine?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ wine.id) }}">
                        <button class="btn supprimer">Delete</button>
                    </form>
                {% endif %} 
                </div>         
            </div>
            
        {% endfor %}
        </div>
    </section>
</main>
{% endblock %}
