{% extends 'base.html.twig' %}

{% block title %}Hello WineController!{% endblock %}

{% block body %}
<main id="wines">
    <h1>All of our Bottles</h1>
            <div class="filter-form">
            {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.year) }}
                    {{ form_row(form.region) }}
                    {{ form_row(form.country) }}
                    {{ form_row(form.grape) }}
                <button class="btn btn-primary" type="submit">Filtrer</button>
            {{ form_end(form) }}
        </div>
    <section id="liste">
        <div class="cards">
        {% for wine in wines %}
            <div class="card">
                
                <h2>{{ wine.name }}</h2>
                <p>{{ wine.year }}</p>
                <p>{{ wine.grapes }}</p>
                <p>{{ wine.region.name }}</p>
                <p>{{ wine.country.name }}</p>
                
                <!-- Description courte -->
                <p id="bouteille-description-{{ wine.id }}">
                    {{ wine.description|slice(0, 100) }}... 
                    <button onclick="toggleDescription({{ wine.id }})">Expand</button>
                </p>

                <!-- Description complète -->
                <p id="bouteille-description-full-{{ wine.id }}" style="display:none;">
                    {{ wine.description }}
                    <button onclick="toggleDescription({{ wine.id }})">Reduce</button>
                </p>
                <div class="actions">
                {# {# {% if is_granted("ROLE_USER", "ROLE_ADMIN") %}
                    <a class="add" href="{{ path('addWine', {'id': wine.id}) }}">Add to cellar</a> 
                {% endif %}
                {% if is_granted('ROLE_ADMIN') or (app.user and app.user.id == wine.user.id) %}
                    <a class="modifier" href="{{ path('app_wine_change', {'id': wine.id}) }}">Modifier</a> 
                    <form method="POST" onsubmit="return confirm('Confirmer la suppression?')" action="{{ path('delete_wine', {'id': wine.id}) }}">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ wine.id) }}">
                        <button class="supprimer">Supprimer</button>
                    </form>
                {% endif %} #}
                </div>         
            </div>
            
        {% endfor %}
        </div>
    </section>
</main>
{% endblock %}
