{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <main id="login">
    <h1 class="form-title">Connexion</h1>

    <form method="post" class="login-form">
        {% if error %}
            <div class="alert-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="already-logged">
                You are connected as {{ app.user.username }}.
                <a href="{{ path('app_logout') }}">Log Out</a>
            </div>
        {% endif %}

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" value="{{ last_username }}" name="_username" id="username" class="input" autocomplete="username" required autofocus>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="_password" id="password" class="input" autocomplete="current-password" required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="submit">Log In</button>
    </form>

            
                {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality. #}
                {# See https://symfony.com/doc/current/security/remember_me.html #}

                {# <div class="checkbox mb-3">
                    <input type="checkbox" name="_remember_me" id="_remember_me">
                    <label for="_remember_me">Remember me</label>
                </div> #}
            
    </main>
{% endblock %}
