{% extends 'base.html.twig' %}

{% block title %}Hello MyCellarsController!{% endblock %}

{% block body %}
<main id="myCellar">
    {# <h1>Cellars de {{ Cellars.User.Username }}</h1> #}
    <a href="{{ path('allCellars') }}" class="btn">Visit other cellars</a>
    
    {% if wines is empty %}
        <h2>Welcome to your cellar</h2>
        <h1>{{cellar.Name}}</h1>
        <p>You do not have bottles in your cellar.</p>
        {# ADDING A BOTTLE #}
        <h1 class="add-title">Adding a bottle to your cave:</h1>
        {{ form_start(wineForm, {'attr': {'class': 'picture-form'}}) }}

            <div class="form-group">
                {{ form_label(wineForm.name) }}
                {{ form_widget(wineForm.name, {'attr': {'class': 'input'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(wineForm.description) }}
                {{ form_widget(wineForm.description, {'attr': {'class': 'input'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(wineForm.countries) }}
                {{ form_widget(wineForm.countries, {'attr': {'class': 'input'}}) }}
            </div>
                <div class="form-group">
                {{ form_label(wineForm.regions) }}
                {{ form_widget(wineForm.regions, {'attr': {'class': 'input'}}) }}
            </div>
                <div class="form-group">
                {{ form_label(wineForm.grapes) }}
                {{ form_widget(wineForm.grapes, {'attr': {'class': 'input'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(wineForm.imageFile) }}
                {{ form_widget(wineForm.imageFile, {'attr': {'class': 'file-input'}}) }}
            </div>
            

            <button class="submit-button">Add the bottle</button>

        {{ form_end(wineForm) }}
        
    {% else %}
    <div class="bouteille-list">
        {% for wine in cellar.wines %}
            <article class="bottle">
                <img src="{{ asset('uploads/images/' ~ wine.imageName) }}" alt="Image de {{ wine.name }}">
                <p>{{ wine.name }}</p>
                <p>Year : {{ wine.year }}</p>
                <p>Grapes : {{ wine.grapes }}</p>
                <p>Region and Country : {{ wine.regions.name }}, {{ wine.countries.name }}</p>
                <p>Description: {{wine.description}}</p>
            </article>
        {% endfor %}

        <h1 class="add-title">Adding a bottle to your cave:</h1>
        {{ form_start(wineForm, {'attr': {'class': 'picture-form'}}) }}

            <div class="form-group">
                {{ form_label(wineForm.name) }}
                {{ form_widget(wineForm.name, {'attr': {'class': 'input'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(wineForm.description) }}
                {{ form_widget(wineForm.description, {'attr': {'class': 'input'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(wineForm.countries) }}
                {{ form_widget(wineForm.countries, {'attr': {'class': 'input'}}) }}
            </div>
                <div class="form-group">
                {{ form_label(wineForm.regions) }}
                {{ form_widget(wineForm.regions, {'attr': {'class': 'input'}}) }}
            </div>
                <div class="form-group">
                {{ form_label(wineForm.grapes) }}
                {{ form_widget(wineForm.grapes, {'attr': {'class': 'input'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(wineForm.imageFile) }}
                {{ form_widget(wineForm.imageFile, {'attr': {'class': 'file-input'}}) }}
            </div>
            

            <button class="submit-button">Add the bottle</button>

        {{ form_end(wineForm) }}
    </div>
    {% endif %}
    
</main>
{% endblock %}
