{% extends 'base.html.twig' %}

{% block title %}Hello CellarController!{% endblock %}

{% block body %}
<main id="myCellar">
    {# <h1>Cellars de {{ Cellars.User.Username }}</h1> #}
    <a href="{{ path('allCellars') }}" class="btn">Visit other cellars</a>

    {% if wines is empty %}
  <h2>Welcome to {{ cellar.user.username }}’s cellar</h2>
  <p>There are no bottles in this cellar!</p>

    {% else %}
    <h2>Welcome to {{ cellar.user.username }}’s cellar</h2>
    <h1>{{ cellar.name }}</h1>
    <section id="liste">
        <div class="cards">
        {% for wine in wines %}
            <div class="card">
                
                <h2>{{ wine.name }}</h2>
                <p>{{ wine.year }}</p>
                <p>{{ wine.grapes }}</p>
                <p>{{ wine.regions.name }}</p>
                <p>{{ wine.countries.name }}</p>
                
                <!-- Description courte -->
                <p id="bouteille-description-{{ wine.id }}">
                    {{ wine.description|slice(0, 100) }}... 
                    <button onclick="toggleDescription({{ wine.id }})">Expand</button>
                </p>

                <!-- Description complète -->
                <p id="bouteille-description-full-{{ wine.id }}" style="display:none;">
                    {{ wine.description }}
                    <button onclick="toggleDescription({{ wine.id }})">Reduce</button>
                </p>
                {% set inv = cellar.stock
        |filter(inv => inv.wine.id == wine.id)
        |first
    %}
                    {% set stock = inv ? inv.quantity : 0 %}
                <div class="actions">
                    <p class="stock-controls">
                        {# <button type="button" data-delta="-1" class="btn minus">−</button> #}
                        <span class="stock-count">{{ stock }} available</span>
                        {# <button type="button" data-delta="+1" class="btn plus">+</button> #}
                    </p>
                </div>     
            </div>
            
        {% endfor %}
        </div>
    </section>
    {% endif %}
    
</main>
{% endblock %}
