{% extends 'base.html.twig' %}

{% block title %}Friend's Cellar{% endblock %}

{% block body %}
<main id="cellar">

    {% if wines is empty %}
  <h1>Welcome to {{ cellar.user.username }}’s cellar</h1>
  <p id="empty">There are no bottles in this cellar!</p>

    {% else %}
    <h1>Welcome to {{ cellar.user.username }}’s cellar</h1>
    <h1 id="titleC">{{ cellar.name }}</h1>
    <section id="liste">
        <div class="cards">
        {% for wine in wines %}
            <div class="card">
                
                <h2>{{ wine.name }}</h2>
                <p>{{ wine.year }}</p>
                <p>{{ wine.grapes }}</p>
                <p>{{ wine.regions.name }}</p>
                <p>{{ wine.countries.name }}</p>
                

                <!-- Description complète -->
                <p>
                    {{ wine.description }}
                </p>
                {% set inv = cellar.stock
        |filter(inv => inv.wine.id == wine.id)
        |first
    %}
                    {% set stock = inv ? inv.quantity : 0 %}
                <div class="actions">
                    <p class="stock-controls">
                        {# <button type="button" data-delta="-1" class="btn minus">−</button> #}
                        <span class="stock-count">{{ stock }} available</span>
                        {# <button type="button" data-delta="+1" class="btn plus">+</button> #}
                    </p>
                </div>     
            </div>
            
        {% endfor %}
        </div>
    </section>
    {% endif %}
    
</main>
{% endblock %}
