<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <nav>
        <div class="logoTop">
            <a href="{{path('home')}}"><img src="{{ asset('images/logo.png') }}" alt="logo site"></a>
        </div>

        <ul class="nav-list" id="nav-list">
            {% if not is_granted('ROLE_USER') %}
                <li><a href="{{ path('app_login') }}">Log In</a></li>
                <li><a href="{{path('register') }}">Register</a></li>
            {% else %}
                <li><a href="{{ path('app_logout') }}">Log Out</a></li>
            {% endif %}
            
            <li><a href="{{ path('home') }}">Home</a></li>
            <li><a href="{{ path('myCellar') }}">My cellar</a></li>
            <li><a href="{{ path('allCellars') }}">All Cellars</a></li>
            <li><a href="{{ path('wine') }}">All the Wine</a></li>
            <li><a href="{{ path('about') }}">About</a></li>


            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('admin') }}">Admin</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block body %}{% endblock %}

    <footer>
        <div class="b_logo">
            <img src="{{ asset('images/logo.png') }}" alt="logo site">
        </div>
        <ul>
            <li><a href="#">Legal Mentions</a></li>
            <li><a href="#">Confidentiality Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
        </ul>
        <ul>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
        </ul>
        <ul>
            <li><p>© 2025 My Cave. All rights applied.</p></li>
        </ul>
    </footer>
    </body>
</html>
